# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#pycache
/__pycache__/.pyc
__pycache__/
/__pycache__

# txts
*.txt

# dbs
*.db

#misc
.DS_Store

#json
*.json

#env
*.env
.env/
.venv/
env/
venv/
ENV/

